body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header {
    position: fixed;
    top: 0;
    display: flex;
    height: 64px;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: #000;
}
.logo {
    height: 48px;
    width: 48px;
    margin-left: 12px;
    flex: 0 0 48px;
    border-radius: 50%;
}
.title {
    flex: 1;
    color: #fff;
    text-align: center;
    margin: 0;
}
.nav-wrapper {
    flex: 0 0 200px;
}
.nav-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-item{
    list-style: none;
    color: #fff;
    flex: 1;
}

.nav-item a {
    color: #fff;
}
main {
    margin-top: 64px;
}
.description {
    padding:18px 86px;
    margin: 0;
    overflow: hidden;
    background-color: #eeeeee;
}
.description .image {
    float: left;
    height: 350px;
    width: 350px;
    margin-right: 12px;
    margin-bottom: 12px;
}
.description-p2 {
    clear: both;
}
.relationship {
    overflow: hidden;
    padding: 18px 86px;
}
.relationship .image {
    float: right;
    height: 350px;
    width: 350px;
    margin-left: 12px;
}
.footer {
    width: 100%;
    background-color: rgb(112, 111, 111);
    height: 48px;
    text-align: center;
    line-height: 48px;
}